/* Write your code here. */
.thumb-list {
  list-style: none;
}
.thumbnail {
  height: 70px;
  width: 70px;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin: 8px;
}
